body{
  width: 100%;
  #app{
    width:300px;
    margin: 0 auto;
    
    h1{
      color: rgb(11, 148, 41);
      text-align: center;
    }
    .pic{
      width: 200px;

      img{
        width: 100%;
      }
    }
    
  }
}